// Copy this file to Environment.xcconfig and replace the placeholder values.
SERVER_DOMAIN = example.com
BASE_URL = https:/$()/$(SERVER_DOMAIN)
WEBSOCKET_URL = wss:/$()/$(SERVER_DOMAIN)
USER_ID_PREFIX = @
